<a href="https://colab.research.google.com/github/sachisahu059/iNeuronPythonAssignment/blob/master/PythonAssignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***`Python Assignment 1`***

# **Q1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.**
1. * 
2. 'hello'
3. -87.8
4. - 
5. / 
6. +
7. 6

A1. <br>
**Values:** 'hello', 87.8, 6 <br>
**Expressions:** *,- , /, +

# **Q2. What is the difference between string and variable?**

A2. <br>
**String** is just a data type in which the value is series of characters enclosed using single quotes('iNueron3') or double quotes(""iNueron2"") or tripple quotes("""iNueron3"""). 

A **variable** is name given to a memory location where some value can be stored <br> In a variable we can store different type of value like int(23), float(2.3), string("xyz"), boolean(True, False).

# **Q3. Describe three different data types.**

A3. <br>
Different datatypes is needed as we have different type of value is needed. <br>
**1. Boolean **: It's value can be True or False only. <br>
**2. Numeric :** Data with numbers, 
it can be integer (whole +ve or -ve numbers), <br>
float (numbers with decimal point),  <br>
complex type (x+iy, so here x is real number and y is imaginary number) <br>
**3. Dictionary :** In this data is stroed as key and value pair. "x" : "name1", "y": "name2"
So here "x" and "y" is key and "name1" and "name2" is value for that key.

# **Q4. What is an expression made up of? What do all expressions do?**

A4. <br>Expression consits of operators, values, variables also it can be a call to function as that returns a value too. <br> 
All expressions evaluates to a value.

# **Q5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?**

A5.
 <br> In spam = 10, is a statment where assignment operation is executed. 
So in a statment python executes certain operations/tasks for every statement. If, for loop are expamples of statements, for which specific tasks is done.
Experession consist of multiple operator, variables, values.
Pythonevaluates this based on the rules and gives us a value as result.

# **Q6. After running the following code, what does the variable bacon contain?**
bacon = 22 <br>
bacon + 1

A6. <br> 
bacon value will be same 22, as the statement bacon+1 is not assigned to bacon so the value remains same.

In [5]:
bacon = 22
bacon + 1
print(bacon)

22

# **Q7. What should the values of the following two terms be?**
'spam' + 'spamspam' <br>
'spam' * 3

A7. <br> 
'spam' + 'spamspam' will be concatenated as both string type, "spamspamspam" <br>
'spam'*3 will be repeated 3 times, so it will be 'spamspamspam'

In [8]:
print('spam' + 'spamspam')
print('spam' * 3)

spamspamspam
spamspamspam

# **8. Why is eggs a valid variable name while 100 is invalid?**

A8. <br> 
**eggs** is valid variable name as the **name starts with an letter and other characters are also alphanumberic.** <br>
**100** is invalid as variable **name cannot start with a number, it should start with a letter or underscore.**

# **Q9. What three functions can be used to get the integer, floating-point number, or string version of a value?**

A9. <br>
**int()** function to get the integer version of value.
**float()** function to get the float version of value.
**str()** function to get the string version of value.

In [11]:
print(type(int('123')))
print(type(str(123)))
print(type(float('1.23')))

<class 'int'>
<class 'str'>
<class 'float'>

# **Q10. Why does this expression cause an error? How can you fix it?**
'I have eaten ' + 99 + ' burritos.'

A10. <br> 
The problem in this expression is '+' operator acting as concatenation operator, it needs similar type of data type but 99 is an integer type of data and we are concatenating with string data type.
**string + int is not possible for concatenataion as different data type.**